<div class="debug container">
	<div class="debug col row">

		<div class="debug col span-12-d">

			<h2>inside the 12</h2>
		</div>
	</div>
	<div class="row">
			<div class="debug col span-4-d">
				<h2>inside the 4</h2>
			</div>

			<div class="debug col span-8-d">
				<h2>inside the 8</h2>
			</div>
	</div>

	<div class="debug col span-3-d">
		<h3>inside the 3 D</h3>
	</div>
	<div class="debug col span-9-d">
		<h3>inside the 9 D</h3>
	</div>
</div>