<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row">
		<div class="col span-3-d">
			<h4 class="location-title">CEREMONY + RECEPTION</h4>
			<h5>SATURDAY, MARCH 12, 2016</h5>
			<h5>GALLERYone, DoubleTree Hotel</h5>
			<p>2670 East Sunrise Blvd</p>
			<p>Fort Lauderdale, Florida</p><br>
			<p>adults only</p>
			<p>Boarding begins at 5:15pm | Cruise + celebrate 5:30pm - 9:30pm</p>
			<p>AFTER PARTY continues at GalleryOne Double Tree Hotel</p>
		</div>

		<div class="col span-6-d">
			<h3>Location</h3>
			<div id="googleMap" class="map-size"></div>
		</div>

		<div class="col span-3-d">
			<h4 class="location-title">ACCOMODATIONS</h4>
			<p>Limited room blocks at <a href="http://doubletree3.hilton.com/en/hotels/florida/galleryone-a-doubletree-suites-by-hilton-hotel-FLLTSDT/index.html" target="_blank">GALLERYone Double Tree Hotel</a></p>
			<p>Mention Jaclyn Karnowski + Pablo Perez</p>
		</div>
	</div>
</div>