<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row">
		<div class="col span-8-d">
			<div id="googleMap" class="map-size"></div>
		</div>

		<div class="col span-4-d">
			<h4 class="ceremony">CEREMONY + RECEPTION</h4>
				<h5>SATURDAY, MARCH 12, 2016</h5>
				<h5>GALLERYone, DoubleTree Hotel</h5>
				<p class="location-info">2670 East Sunrise Blvd</p>
				<p class="location-info">Fort Lauderdale, Florida</p><br>
				<p id="adults">adults only</p>
				<p class="party">Boarding begins at <span class="time">5:15pm</span></p>
				<p class="party">Cruise + celebrate <span class="time">5:30pm - 9:30pm</span></p>
				<p class="location-info">AFTER PARTY continues at GalleryOne Double Tree Hotel</p>
			
			<h4 class="lodging">ACCOMODATIONS</h4>
			<p class="party">Limited room blocks at <span id="linksss"><a href="http://doubletree3.hilton.com/en/hotels/florida/galleryone-a-doubletree-suites-by-hilton-hotel-FLLTSDT/index.html" target="_blank">GALLERYone Double Tree</a></span></p>
			<p class="party">Mention Jaclyn Karnowski + Pablo Perez</p>
		</div>
	</div>
</div>


