<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row">
		<div class="col span-8-d">
			<div id="googleMap" class="map-size"></div>
		</div>

		<div class="col span-4-d">
			<h4 class="ceremony">CEREMONY + RECEPTION</h4>
			<h5>SATURDAY, MARCH 12, 2016</h5>
			<h5>GALLERYone, DoubleTree Hotel</h5>
			<p class="party-text">2670 East Sunrise Blvd</p>
			<p class="party-text">Fort Lauderdale, Florida</p><br>
			<p class="party-text">Boarding begins at <span class="time">5:15pm</span></p>
			<p class="party-text">Cruise + celebrate <span class="time">5:30pm - 9:30pm</span></p>
			<p class="party-text">the PARTY continues at GalleryOne Double Tree Hotel</p>
			
			<h4 class="lodging">ACCOMODATIONS</h4>
			<p class="party-text">Room Blocks available at <span id="linksss"><a href="http://doubletree.hilton.com/en/dt/groups/personalized/F/FLLTSDT-KPW-20160309/index.jhtml" target="_blank">GALLERYone Double Tree</a></span></p>
			<p class="party-text">Prefer the phone?  800-222-TREE (8733)</p>
			<p class="party-text">Mention KARNOWSKI PEREZ wedding</p>
		</div>
	</div>
</div>


