<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row debug">
		<div class="col span-12-d debug">
			<h2>Thanks for your RSVP!</h2>
			<p>You RSVP'd for <%= @rsvp.number_of_guests %> guests.</p>
			<p>RSVP Response: <%= @rsvp.rsvp_response %></p>
		</div>
	</div>
</div>