<%= render 'playlists/navigation_not_root' %>

<div class="container">
	<div class="row">
		<div class="col span-12-d debug">
			<h3>RSVP Count:</h3>
			<% @rsvps.each do |rsvp| %>
			<p><%= rsvp.name %> : <%= rsvp.rsvp_response %></p>
			<% end %>		
		</div>
	</div>
</div>