
.friendship {
	border: 1px solid gray;
	width: 90%;
	margin-left: 5px;
	margin-right: 5px;
	background-color: #22313F;
	color: white;
	margin-bottom: 20px;
}

.registry-title {
	font-size: 30px;
}

.photo-style {
	padding: 10px;
}

.cost {
	font-size: 25px;
}

.multiplier {
	font-size: 18px;
}

/*.registry-background {
	background-color: #ECF0F1;
}
*/

.gift-border {
	outline: 1px solid gray;
}

button {
	padding: 5px;
	width: 180px;
	margin-left: 20px;
	/*font styling*/
	font-size: 1em;
	letter-spacing: 1px;
	color: #22313F;
	/*rounded edges*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.contribute-button {
	/*mostly for grabbing*/
}

.registry-buttons {
	height: 110px;
	width: 120px;
	margin-right: 10px;
	margin-left: 10px;
}

.registry-header {
	text-align: left;
	margin-left: 5px;
	margin-right: 20px;
}