/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.rsvp-form {
	background: url("pablo215.jpg") no-repeat center center fixed;
	background-size: 100% 100%;
	width: 100%;
	margin: 0 auto;
}

.label {
	font-size: 24px;
	padding: 1em;
	color: #eeeeee;
}

.label-rsvp {
	color: black;
  font-size: 28px;
  letter-spacing: 1.2px;
}

.rsvp-button-txt {
	font-size: 24px;
	color: white;
	letter-spacing: 1.3px;
}

.space {
	padding: 1em;
}

.input-txt {
	color: #22313F;
	padding: 5px;
	text-align: center;
	width: 30%;
}

.song-input {
	margin-top: 5px;
	padding: 3px;
	font-size: 18px;
	text-align: center;
	width: 30%;
}