/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.carousel-inner > .item > img,
	.carousel-inner > .item > a > img {
      width: 75%;
      height: 80%;
      margin: auto;
}

.item {
	height: 80%;
	width: 90%;
	margin: 0 auto;
}

#engagement-photos {
	line-height: 0;
	margin: 20px 30px;
   
  -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px;
}

#engagement-photos img {
	width: 100% !important;
	height: auto !important;
}

.txt-center {
	text-align: center;
}

.married-background {
  background-color: #59ABE3;
  padding: 25px;
}