/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.welcome-background-photo {
	background-image: url('pablo186.jpg');
	background-size: cover;
}

.date {
	font-size: 70px;
	text-shadow: 1px 1px 1px black;
	color: #EEEEEE;
  font-family: 'Nixie One', cursive;
  letter-spacing: 2px;
}