<div class="container">
	<div class="row debug">
		<div class="col span-12-d debug">
		<h2>Thanks, you gave us <strong><%= number_to_currency(@amount / 100) %> towards our honeymoon</strong>!</h2>
		</div>
	</div>
</div>


