<%= form_tag charges_path do %>
  <article>
    <label class="amount">
      <span>Amount: $5.00</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="gift"
          data-amount="500"
          data-locale="auto"></script>
<% end %>

<!-- OR script option: -->
<!-- %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
              data: {amount: @course.price*100, description: @course.name, key: Rails.application.secrets.stripe_publishable_key}}  -->